HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.header FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.footer FIELDSET .sidebar P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar H3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar H4 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar H5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar H6 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.sidebar FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
BODY {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.33em; FONT-FAMILY: Verdana; FONT-SIZE: 10pt
}
HR {
	DISPLAY: none
}
.content HR {
	DISPLAY: block
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
ABBR {
	BORDER-BOTTOM: #999 1px dotted; CURSOR: help
}
ACRONYM {
	BORDER-BOTTOM: #999 1px dotted; CURSOR: help
}
INPUT {
	FONT: 12px Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT: 12px Arial, Helvetica, sans-serif
}
SELECT {
	FONT: 12px Arial, Helvetica, sans-serif
}
A {
	COLOR: #670066; TEXT-DECORATION: underline
}
IMG.help {
	BORDER-BOTTOM-COLOR: transparent; BACKGROUND-COLOR: transparent; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-COLOR: transparent; BORDER-LEFT-COLOR: transparent
}
A:hover {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
.footer A {
	TEXT-DECORATION: none
}
.footer A:hover {
	TEXT-DECORATION: underline
}
.header A {
	TEXT-DECORATION: none
}
.header A:hover {
	TEXT-DECORATION: underline
}
CENTER TABLE {
	TEXT-ALIGN: left
}
.hide {
	DISPLAY: none
}
.clear {
	CLEAR: both
}
BR.clear {
	LINE-HEIGHT: 0; HEIGHT: 0px; FONT-SIZE: 0px; OVERFLOW: hidden
}
.fleft {
	FLOAT: left
}
.fright {
	FLOAT: right
}
P.center {
	TEXT-ALIGN: center
}
P.right {
	TEXT-ALIGN: right
}
P.left {
	TEXT-ALIGN: left
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.wrapper3:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.footer .footersplit:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.footer .footersplit .left-col:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.footer .footersplit .right-col:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.footer .site-map:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.content UL.announcements LI:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.content .subcategories UL:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.content .codemeta:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.content UL.comments DIV.meta:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.page {
	MIN-WIDTH: 940px
}
.header {
	Z-INDEX: 2; POSITION: relative
}
.container {
	Z-INDEX: 1; POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; CLEAR: both; PADDING-TOP: 0px
}
.wrapper1 {
	MARGIN-BOTTOM: 24px
}
.wrapper3 {
	PADDING-RIGHT: 236px
}
.content {
	WIDTH: 100%; FLOAT: left; OVERFLOW: hidden
}
.sidebar {
	POSITION: relative; PADDING-BOTTOM: 18px; PADDING-LEFT: 0px; WIDTH: 227px; PADDING-RIGHT: 9px; FLOAT: left; MARGIN-RIGHT: -236px; PADDING-TOP: 16px
}
.footer {
	CLEAR: both
}
BODY {
	BACKGROUND: #ad9bbb
}
.header {
	BACKGROUND: url(../images/bg_header.jpg) no-repeat left top
}
.wrapper1 {
	BACKGROUND: url(../images/bg_wrapper-bot-left.gif) #fff no-repeat left bottom
}
.wrapper2 {
	BACKGROUND: url(../images/bg_sidebar.gif) repeat-y right top
}
.wrapper3 {
	PADDING-RIGHT: 236px; BACKGROUND: url(../images/bg_sidebar-bot.gif) no-repeat right bottom
}
.sidebar {
	BACKGROUND: url(../images/bg_sidebar-top.gif) no-repeat left top
}
.footer {
	BACKGROUND: url(../images/bg_footer-left.png) #e0dee0 no-repeat left top
}
.footer-in {
	BACKGROUND: url(../images/bg_footer-right.png) no-repeat right top
}
.header .logo {
	WIDTH: 320px; BACKGROUND: url(../images/logo.gif) no-repeat 0px 9px; FLOAT: left; HEIGHT: 99px
}
.header .motto {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.38em; MARGIN: 0px 20px 0px 340px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Verdana, Geneva, Kalimati, sans-serif; COLOR: #4d4d4d; FONT-SIZE: 13px; PADDING-TOP: 35px
}
.header .motto STRONG {
	COLOR: #670166; FONT-WEIGHT: normal
}
.header .advert {
	TEXT-ALIGN: center; CLEAR: both; FONT-SIZE: 10px; PADDING-TOP: 6px
}
.header .advert-leaderboard {
	MARGIN: 0px auto 30px
}
.primary-navigation {
	Z-INDEX: 2; POSITION: relative; HEIGHT: 25px; CLEAR: both; PADDING-TOP: 6px
}
.primary-navigation UL {
	
}
.primary-navigation UL LI {
	BACKGROUND: url(/vb/2010Redesign/images/nav1-left.gif) #373a3d no-repeat left top; FLOAT: left
}
.primary-navigation UL LI.nav_net {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-first-left.gif)
}
.primary-navigation UL A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 19px; PADDING-RIGHT: 19px; BACKGROUND: url(/vb/2010Redesign/images/nav1-right.gif) no-repeat right top; FLOAT: left; COLOR: #fff; FONT-SIZE: 10px; PADDING-TOP: 0px
}
.primary-navigation UL LI.nav_cf A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-last-right.gif); PADDING-RIGHT: 30px
}
.primary-navigation UL A:hover {
	TEXT-DECORATION: underline
}
.category-navigation {
	POSITION: relative; BACKGROUND: url(/vb/2010Redesign/images/bg_category-navigation-top-right.gif) #e0dee0 no-repeat right top
}
.category-navigation .mask {
	POSITION: absolute; WIDTH: 5px; BACKGROUND: #fff; HEIGHT: 5px; TOP: 42px; RIGHT: 0px
}
.category-navigation UL {
	BACKGROUND: url(/vb/2010Redesign/images/bg_category-navigation.gif) repeat-x left bottom; HEIGHT: 42px
}
.category-navigation UL LI {
	POSITION: relative; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left
}
.category-navigation UL A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/dropdown-tick.gif); PADDING-BOTTOM: 0px; LINE-HEIGHT: 42px; PADDING-LEFT: 13px; PADDING-RIGHT: 21px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 100% 0px; FLOAT: left; COLOR: #373a3d; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.category-navigation UL A:hover {
	BACKGROUND-POSITION: 100% -42px; COLOR: #000; TEXT-DECORATION: none
}
.category-navigation UL UL {
	LEFT: -999em
}
.category-navigation UL LI.hover UL {
	LEFT: 0px
}
.category-navigation UL LI:hover UL {
	LEFT: 0px
}
.category-navigation UL LI.hover A {
	BACKGROUND-POSITION: 100% -42px; COLOR: #000; TEXT-DECORATION: underline
}
.category-navigation UL LI:hover A {
	BACKGROUND-POSITION: 100% -42px; COLOR: #000; TEXT-DECORATION: underline
}
.category-navigation UL UL {
	POSITION: absolute; PADDING-BOTTOM: 7px; WIDTH: 170px; BACKGROUND: url(/vb/2010Redesign/images/bg_dropdown.gif) no-repeat center bottom; HEIGHT: auto; TOP: 42px
}
.category-navigation UL UL LI {
	POSITION: static; WIDTH: 100%
}
.category-navigation UL UL LI:first-child {
	BACKGROUND: url(/vb/2010Redesign/images/bg_dropdown_first.gif) no-repeat right top; PADDING-TOP: 7px
}
.category-navigation UL UL LI.first-child {
	BACKGROUND: url(/vb/2010Redesign/images/bg_dropdown_first.gif) no-repeat right top; PADDING-TOP: 7px
}
.header .category-navigation UL UL A {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 14px; PADDING-LEFT: 12px; PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; COLOR: #373a3d; FONT-SIZE: 11px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.header .category-navigation UL UL A:hover {
	BACKGROUND-COLOR: #b6b5b6; COLOR: #000
}
BODY.cat-java .primary-navigation .nav_java {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-javascript .primary-navigation .nav_javascript {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-c .primary-navigation .nav_c {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-asp .primary-navigation .nav_asp {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-sql .primary-navigation .nav_sql {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-perl .primary-navigation .nav_perl {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-delphi .primary-navigation .nav_delphi {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-php .primary-navigation .nav_php {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-cf .primary-navigation .nav_cf {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-vb .primary-navigation .nav_vb {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif); DISPLAY: inline; MARGIN-LEFT: -7px
}
BODY.cat-net .primary-navigation .nav_net {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-active.gif)
}
BODY.cat-vb .primary-navigation .nav_vb A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-net .primary-navigation .nav_net A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-java .primary-navigation .nav_java A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-javascript .primary-navigation .nav_javascript A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-c .primary-navigation .nav_c A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-asp .primary-navigation .nav_asp A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-sql .primary-navigation .nav_sql A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-perl .primary-navigation .nav_perl A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-delphi .primary-navigation .nav_delphi A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-php .primary-navigation .nav_php A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-vb .primary-navigation .nav_vb A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-right-active.gif); PADDING-LEFT: 22px; PADDING-RIGHT: 23px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-net .primary-navigation .nav_net A {
	PADDING-LEFT: 19px; PADDING-RIGHT: 19px
}
BODY.cat-cf .primary-navigation .nav_cf A {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-last-right-active.gif); PADDING-LEFT: 22px; COLOR: #000; CURSOR: default; TEXT-DECORATION: none
}
BODY.cat-net .primary-navigation .nav_php {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-php .primary-navigation .nav_javascript {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-javascript .primary-navigation .nav_java {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-java .primary-navigation .nav_c {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-c .primary-navigation .nav_sql {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-sql .primary-navigation .nav_perl {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-perl .primary-navigation .nav_asp {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-asp .primary-navigation .nav_vb {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-vb .primary-navigation .nav_delphi {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
BODY.cat-delphi .primary-navigation .nav_cf {
	BACKGROUND-IMAGE: url(/vb/2010Redesign/images/nav1-left-to-the-right-of-active.gif)
}
.headinfo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; FLOAT: none; MARGIN-LEFT: 340px; PADDING-TOP: 17px
}
.headinfo P {
	MARGIN: 0px; FONT-SIZE: 13px
}
.headinfo UL {
	FLOAT: right; FONT-SIZE: 13px
}
.headinfo UL LI {
	TEXT-ALIGN: right; DISPLAY: block; WHITE-SPACE: nowrap
}
.headinfo P.legend {
	PADDING-RIGHT: 18px; FLOAT: right
}
.headinfo P.support {
	TEXT-ALIGN: right; FLOAT: right; CLEAR: right; PADDING-TOP: 18px
}
* HTML .headinfo P.support {
	PADDING-TOP: 0px
}
* + HTML .headinfo P.support {
	PADDING-TOP: 0px
}
.content {
	PADDING-BOTTOM: 18px; PADDING-TOP: 9px
}
.content H1 {
	PADDING-BOTTOM: 7px; LINE-HEIGHT: 1.22em; MARGIN: 0px 0px 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-TOP: 7px
}
.content H2 {
	LINE-HEIGHT: 1.12em; MARGIN: 12px 0px; FONT-SIZE: 18px; FONT-WEIGHT: normal
}
.content H2 SPAN.extra {
	FONT-SIZE: 12px
}
.content H3 {
	LINE-HEIGHT: 1.28em; MARGIN: 0px 0px 12px; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.content H4 {
	LINE-HEIGHT: 1.38em; MARGIN: 0px 0px 12px; FONT-SIZE: 13px; FONT-WEIGHT: normal
}
.content H5 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 12px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.content P {
	LINE-HEIGHT: 1.25em; MARGIN: 0px 0px 1.25em; FONT-SIZE: 12px
}
.content IMG {
	MAX-WIDTH: 100%
}
.content .block-wrapper {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; PADDING-TOP: 18px
}
UL.announcements {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.tutorials {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.comments {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.subcategories UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.announcements LI {
	LIST-STYLE-TYPE: none
}
UL.tutorials LI {
	LIST-STYLE-TYPE: none
}
UL.comments LI {
	LIST-STYLE-TYPE: none
}
FIELDSET OL LI {
	LIST-STYLE-TYPE: none
}
.subcategories UL LI {
	LIST-STYLE-TYPE: none
}
.content DIV.sep {
	LINE-HEIGHT: 0; MARGIN: 18px 0px; BACKGROUND: #b9c9d0; HEIGHT: 5px; FONT-SIZE: 0px; OVERFLOW: hidden
}
.content .block-wrapper DIV.sep {
	MARGIN-LEFT: -18px; MARGIN-RIGHT: -18px
}
.content .advert-728 {
	MARGIN: 0px -18px
}
.content .advert {
	TEXT-ALIGN: center; MARGIN: 12px auto
}
.content .advert-large-rectangle {
	WIDTH: 336px
}
.content .advert P.calltoaction {
	LINE-HEIGHT: 15px; MARGIN: 0px; FONT-FAMILY: Verdana, Geneva, Kalimati, Tahoma, sans-serif; FONT-SIZE: 11px
}
.content UL.tutorials {
	
}
.content UL.tutorials LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/sep.gif) no-repeat center top; PADDING-TOP: 20px
}
.content UL.tutorials LI:first-child {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.content UL.tutorials LI.first-child {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.content UL.tutorials LI.advert {
	TEXT-ALIGN: center; PADDING-TOP: 8px
}
.content UL.tutorials H3 {
	MARGIN: 0px 0px 12px
}
.content UL.tutorials H3 A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; PADDING-TOP: 4px
}
.content UL.tutorials H3 A.ico-vb {
	BACKGROUND-IMAGE: url(../images/ico/vb.gif)
}
.content UL.tutorials H3 A.ico-java {
	BACKGROUND-IMAGE: url(../images/ico/java.gif)
}
.content UL.tutorials H3 A.ico-c {
	BACKGROUND-IMAGE: url(../images/ico/c.gif)
}
.content UL.tutorials H3 A.ico-asp {
	BACKGROUND-IMAGE: url(../images/ico/asp.gif)
}
.content UL.tutorials H3 A.ico-sql {
	BACKGROUND-IMAGE: url(../images/ico/sql.gif)
}
.content UL.tutorials H3 A.ico-perl {
	BACKGROUND-IMAGE: url(../images/ico/perl.gif)
}
.content UL.tutorials H3 A.ico-delphi {
	BACKGROUND-IMAGE: url(../images/ico/delphi.gif)
}
.content UL.tutorials H3 A.ico-php {
	BACKGROUND-IMAGE: url(../images/ico/php.gif)
}
.content UL.tutorials H3 A.ico-cf {
	BACKGROUND-IMAGE: url(../images/ico/cf.gif)
}
.content UL.tutorials H3 A.ico-net {
	BACKGROUND-IMAGE: url(../images/ico/net.gif)
}
.content UL.tutorials P {
	
}
.content UL.tutorials P.meta {
	LINE-HEIGHT: 1.5em
}
.content UL.announcements {
	MARGIN: 18px 0px
}
.content UL.announcements LI {
	PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/sep.gif) no-repeat center top; PADDING-TOP: 30px
}
.content UL.announcements LI:first-child {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.content UL.announcements LI.first-child {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.content UL.announcements DIV.image {
	TEXT-ALIGN: center; WIDTH: 140px; FLOAT: left; OVERFLOW: hidden
}
.content UL.announcements DIV.image IMG {
	MARGIN: 0px auto
}
.content UL.announcements DIV.contents {
	MARGIN-LEFT: 160px
}
.content .world-categories {
	
}
.content .compatibility-filter {
	
}
.content .compatibility-filter P.legend {
	LINE-HEIGHT: 22px; PADDING-RIGHT: 20px; FLOAT: left
}
.content .compatibility-filter FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.content .compatibility-filter FIELDSET.filters {
	WIDTH: 260px; FLOAT: left
}
.content .compatibility-filter FIELDSET.filters OL {
	
}
.content .compatibility-filter FIELDSET.filters OL LI {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; CLEAR: left; PADDING-TOP: 3px
}
* HTML .content .compatibility-filter FIELDSET.filters OL LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
* HTML .content .compatibility-filter FIELDSET.filters OL LI SPAN {
	PADDING-TOP: 3px
}
.content .compatibility-filter FIELDSET.filters OL LABEL {
	
}
.content .compatibility-filter FIELDSET.filters OL INPUT {
	MARGIN: 0px; FLOAT: left
}
.content .compatibility-filter FIELDSET.filters OL SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.content .compatibility-filter FIELDSET.filters .submit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 5px
}
.content .compatibility-filter P.note {
	CLEAR: both; PADDING-TOP: 18px
}
.content .subcategories {
	
}
.content .subcategories UL {
	
}
.content .subcategories UL LI {
	WIDTH: 48%; FLOAT: left; MARGIN-RIGHT: 1.5%
}
.content .subcategories UL A {
	PADDING-BOTTOM: 0.3em; LINE-HEIGHT: 1.4em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #000; TEXT-DECORATION: none; PADDING-TOP: 0.3em
}
.content .subcategories UL A:hover {
	TEXT-DECORATION: none
}
* HTML .content .subcategories UL A:hover {
	TEXT-DECORATION: none
}
.content .subcategories UL A STRONG {
	PADDING-RIGHT: 10px; COLOR: #670066; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.content .subcategories UL A:hover STRONG {
	TEXT-DECORATION: none
}
.content .subcategories P.browse {
	TEXT-ALIGN: right; CLEAR: both; FONT-SIZE: 13px; PADDING-TOP: 10px
}
.content .codemeta {
	MARGIN: 0px 0px 18px
}
.content .codemeta .author-image {
	TEXT-ALIGN: center; WIDTH: 64px; FLOAT: left; OVERFLOW: hidden
}
.content .codemeta .author-image IMG {
	MARGIN: 0px auto
}
.content .codemeta .accessed {
	FLOAT: right
}
.content .codemeta .accessed P {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: url(../images/ico/accessed.gif) no-repeat left center; PADDING-TOP: 2px
}
.content .codemeta .contents {
	MARGIN: 0px 0px 0px 74px; COLOR: #636363
}
.content .codemeta .contents P {
	MARGIN: 0px 0px 2px
}
.content .screenshot {
	TEXT-ALIGN: center; MARGIN: 18px 0px
}
.content .screenshot IMG {
	MARGIN: 0px auto; DISPLAY: block
}
.content A.download-link {
	PADDING-BOTTOM: 8px; MARGIN: 18px 0px 18px 8px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/ico/download-big.gif) no-repeat left center; FONT-SIZE: 14px; PADDING-TOP: 8px
}
.content .notes {
	PADDING-BOTTOM: 10px; MARGIN: 18px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #f9f9f9; PADDING-TOP: 10px
}
.content .notes P {
	MARGIN-BOTTOM: 5px
}
.content .notes P.note SPAN.warning {
	MARGIN-TOP: -14px; WIDTH: 38px; BACKGROUND: url(../images/ico/warning.gif) no-repeat left top; FLOAT: left; HEIGHT: 26px
}
.content .notes .caution {
	FONT-WEIGHT: bold
}
.content .terms {
	MARGIN: 18px 8px
}
.content .terms H5 {
	PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; PADDING-LEFT: 28px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/ico/info.gif) no-repeat left center; PADDING-TOP: 2px
}
.content .terms P {
	MARGIN: 0px 0px 5px
}
.content UL.comments {
	
}
.content UL.comments LI {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 12px
}
.content UL.comments P {
	MARGIN: 0px 0px 8px
}
.content UL.comments DIV.meta {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; MARGIN-BOTTOM: 10px; BACKGROUND: #f9f9f9; MARGIN-LEFT: -12px; MARGIN-RIGHT: -12px; PADDING-TOP: 5px
}
.content UL.comments DIV.meta P {
	MARGIN: 0px
}
.content UL.comments DIV.meta P.posted {
	WHITE-SPACE: nowrap; FLOAT: left; COLOR: #666
}
.content UL.comments DIV.meta P.report {
	WHITE-SPACE: nowrap; FLOAT: right
}
.content DIV.reportbad {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/ico/report.gif) no-repeat left top; PADDING-TOP: 0px
}
.content DIV.reportbad FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.content DIV.reportbad P {
	MARGIN: 0px 0px 5px
}
.content DIV.reportbad INPUT.text {
	BORDER-BOTTOM: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px 4px 0px 0px; PADDING-LEFT: 4px; WIDTH: 256px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; PADDING-TOP: 3px
}
.content DIV.your-vote {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/ico/checkmark.gif) no-repeat left top; PADDING-TOP: 0px
}
.content DIV.your-vote P {
	MARGIN: 0px 0px 5px
}
.content DIV.your-vote FIELDSET.rating {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.content DIV.your-vote FIELDSET.rating OL {
	
}
.content DIV.your-vote FIELDSET.rating OL LI {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 4px
}
.content DIV.your-vote FIELDSET.rating LABEL {
	MARGIN: 0px 10px 0px 0px; FLOAT: left
}
.content DIV.your-vote FIELDSET.rating INPUT {
	MARGIN: 0px; FLOAT: left
}
.content DIV.your-vote FIELDSET.rating SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.content DIV.your-vote FIELDSET.rating .submit {
	FLOAT: left
}
.content DIV.your-vote FIELDSET.rating .submit INPUT {
	MARGIN: 0px 10px 0px 0px; FLOAT: left
}
.content DIV.your-vote FIELDSET.rating .submit A.log {
	LINE-HEIGHT: 26px; FLOAT: left
}
.sidebar .box {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 1px; WIDTH: 226px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg_sidebar-box.gif) no-repeat left top; PADDING-TOP: 18px
}
.sidebar .box .box-wrap {
	MARGIN: 0px 18px; WIDTH: 190px
}
.sidebar .box-first {
	BACKGROUND-IMAGE: url(../images/bg_sidebar-box-first.gif)
}
.sidebar .box H3 {
	LINE-HEIGHT: 1.2em; MARGIN: 0px 0px 12px; PADDING-LEFT: 18px; FONT-SIZE: 15px; FONT-WEIGHT: normal
}
.sidebar .box-search {
	
}
.sidebar .box-search FORM {
	
}
.sidebar .box-search FORM FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
BODY.js .sidebar .box-search FORM LABEL {
	POSITION: absolute; LEFT: -9999px
}
BODY.nojs .sidebar .box-search FORM LABEL {
	LINE-HEIGHT: 18px; FLOAT: left; CLEAR: both; FONT-SIZE: 12px
}
.sidebar .box-search FORM INPUT.text {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #a1b0b9 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; PADDING-LEFT: 8px; WIDTH: 179px; PADDING-RIGHT: 3px; BACKGROUND: #b6b5b6; FLOAT: left; COLOR: #fff; CLEAR: left; FONT-SIZE: 13px; BORDER-TOP: #a1b0b9 1px solid; BORDER-RIGHT: #a1b0b9 1px solid; PADDING-TOP: 6px
}
.sidebar .box-search FORM SELECT {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #a1b0b9 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px; WIDTH: 192px; BACKGROUND: #b6b6b6; FLOAT: left; COLOR: #fff; CLEAR: left; FONT-SIZE: 13px; BORDER-TOP: #a1b0b9 1px solid; BORDER-RIGHT: #a1b0b9 1px solid; PADDING-TOP: 5px
}
.sidebar .box-search FORM INPUT.buttonimg {
	FLOAT: left; CLEAR: left
}
.sidebar .box-search BUTTON {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #a1b0b9 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; FONT-FAMILY: Tahoma, Verdana, Geneva, Kalimati, sans-serif; BACKGROUND: url(../images/bg_button.gif) #b6b6b6 no-repeat center top; FLOAT: left; COLOR: #fff; CLEAR: left; FONT-SIZE: 14px; BORDER-TOP: #a1b0b9 1px solid; CURSOR: pointer; BORDER-RIGHT: #a1b0b9 1px solid; PADDING-TOP: 4px
}
.sidebar .box-chooselanguage {
	
}
.sidebar .box-chooselanguage UL {
	
}
.sidebar .box-chooselanguage UL A {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 14px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; DISPLAY: block; PADDING-TOP: 3px
}
.sidebar .box-chooselanguage UL A:hover {
	BACKGROUND: #ebe9eb; TEXT-DECORATION: none
}
.sidebar .box-chooselanguage UL A STRONG {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
.sidebar .box-chooselanguage UL A SPAN {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #373a3d; PADDING-TOP: 2px
}
.sidebar .box-latestpostings {
	
}
.sidebar .box-latestpostings .marquee-postings {
	MARGIN: 0px 0px 12px
}
.marquee-wrapper {
	POSITION: relative
}
.marquee-wrapper .marquee-topmask {
	Z-INDEX: 15; POSITION: absolute; WIDTH: 100%; BACKGROUND: url(../images/bg_marquee-topmask.png) repeat-x left top; HEIGHT: 10px; TOP: 0px; LEFT: 0px
}
.marquee-wrapper .marquee-botmask {
	Z-INDEX: 15; POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; BACKGROUND: url(../images/bg_marquee-botmask.png) repeat-x left bottom; HEIGHT: 10px; LEFT: 0px
}
.marquee-wrapper .newsticker {
	WHITE-SPACE: normal
}
.marquee-wrapper MARQUEE {
	OVERFLOW: hidden
}
.marquee-wrapper .newsticker UL LI {
	WIDTH: 156px
}
.marquee-postings {
	BACKGROUND: #f0eff0
}
BODY.nojs .marquee-postings {
	OVERFLOW-X: hidden; OVERFLOW-Y: scroll; HEIGHT: 262px
}
.marquee-postings {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.marquee-postings UL {
	
}
.marquee-postings UL LI {
	COLOR: #46627e
}
.marquee-postings UL .icons {
	WIDTH: 25px; FLOAT: left; PADDING-TOP: 9px
}
.marquee-postings UL .icons A {
	WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 20px; CLEAR: both
}
.marquee-postings UL .icons SPAN {
	WIDTH: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; MARGIN-BOTTOM: 5px; FLOAT: left; HEIGHT: 20px; CLEAR: both
}
.marquee-postings UL .icons .screenshot {
	BACKGROUND-IMAGE: url(../images/ico/screenshot.gif)
}
.marquee-postings UL .icons .refresh {
	BACKGROUND-IMAGE: url(../images/ico/refresh.gif)
}
.marquee-postings UL .icons .add {
	BACKGROUND-IMAGE: url(../images/ico/add.gif)
}
.marquee-postings UL .contents {
	PADDING-BOTTOM: 9px; MARGIN-LEFT: 25px; PADDING-TOP: 9px
}
.marquee-postings UL .contents H5 {
	LINE-HEIGHT: 1.28em; MARGIN: 0px 0px 6px; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.marquee-postings UL .contents H5 A {
	
}
.marquee-postings UL .contents H5 A:hover {
	
}
.marquee-postings UL .contents P {
	LINE-HEIGHT: 1.25em; MARGIN: 0px
}
.marquee-postings UL .contents P.meta {
	
}
.marquee-postings UL .contents P.screenshot {
	TEXT-ALIGN: right
}
.sidebar .call-to-action {
	TEXT-ALIGN: right; MARGIN: 10px 0px
}
.sidebar .call-to-action P {
	LINE-HEIGHT: 1.25em
}
.sidebar .add-to-active-desktop {
	TEXT-ALIGN: right; MARGIN: 0px
}
.sidebar .add-to-active-desktop A.button {
	TEXT-ALIGN: left; TEXT-INDENT: -9999px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; DISPLAY: block; BACKGROUND: url(../images/button/add-to-active-desktop.png) no-repeat right top; HEIGHT: 21px
}
.sidebar .add-to-active-desktop P {
	LINE-HEIGHT: 1.5em
}
.sidebar .box-dailyemail {
	
}
.sidebar .box-dailyemail P {
	PADDING-BOTTOM: 0px; MARGIN: 0px 12px; MIN-HEIGHT: 74px; PADDING-LEFT: 86px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg_daily-code-email.jpg) no-repeat; PADDING-TOP: 0px
}
* HTML .sidebar .box-dailyemail P {
	HEIGHT: 74px
}
.sidebar .box-contestwinners {
	
}
.sidebar .box-contestwinners H3 {
	
}
.sidebar .box-contestwinners P {
	MARGIN: 0px 0px 8px
}
.sidebar .box-contestwinners P.winner-symbol {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/bg_winner-symbol.jpg) no-repeat left top; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.sidebar .advert {
	TEXT-ALIGN: center; PADDING-BOTTOM: 18px; MARGIN: 0px 0px 10px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; BACKGROUND: url(../images/bg_sidebar-advert.gif) no-repeat left top; PADDING-TOP: 18px
}
.sidebar .advert-wide-skyscraper {
	PADDING-TOP: 33px
}
.sidebar .advert IMG {
	MARGIN: 0px auto
}
.footer .box-wrapper {
	MARGIN-BOTTOM: 5px; BACKGROUND: url(../images/bg_footer-box-bl.gif) #16222b no-repeat left bottom
}
.footer .box {
	POSITION: relative; PADDING-BOTTOM: 63px; BACKGROUND: url(../images/bg_footer-box-br.gif) no-repeat right bottom
}
.footer .footersplit {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3%; PADDING-RIGHT: 3%; PADDING-TOP: 0px
}
.footer .footersplit .left-col {
	MIN-HEIGHT: 297px; WIDTH: 48%; BACKGROUND: #fff
}
.footer .footersplit .right-col {
	MIN-HEIGHT: 297px; WIDTH: 48%; BACKGROUND: #fff
}
.footer .footersplit .left-col {
	FLOAT: left
}
.footer .footersplit .right-col {
	FLOAT: right
}
.footer .footersplit .advert {
	MARGIN: 0px auto
}
.footer .footersplit .advert-large-rectangle {
	WIDTH: 336px; HEIGHT: 280px; PADDING-TOP: 8px
}
.footer .footersplit .promo {
	MARGIN: 0px auto; WIDTH: 390px; HEIGHT: 280px
}
.footer .footersplit .site-map {
	BACKGROUND: #16222b
}
.footer .site-map .site-map-1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 48%; PADDING-RIGHT: 0px; BACKGROUND: #1e2933; HEIGHT: 297px; OVERFLOW: hidden; PADDING-TOP: 18px
}
.footer .site-map .site-map-2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 48%; PADDING-RIGHT: 0px; BACKGROUND: #1e2933; HEIGHT: 297px; OVERFLOW: hidden; PADDING-TOP: 18px
}
.footer .site-map .site-map-1 {
	FLOAT: left
}
.footer .site-map .site-map-2 {
	FLOAT: right
}
.footer .site-map H4 {
	LINE-HEIGHT: 1.15em; MARGIN: 0px 18px; COLOR: #fff; FONT-SIZE: 13px
}
.footer .site-map UL {
	MARGIN: 0px 0px 18px
}
.footer .site-map UL A {
	PADDING-BOTTOM: 0.1em; LINE-HEIGHT: 1.05em; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; DISPLAY: block; COLOR: #ec82eb; PADDING-TOP: 0.1em
}
.secondary-navigation {
	LINE-HEIGHT: 18px; BACKGROUND: url(../images/bg_footer-box-tl.gif) no-repeat left top
}
.secondary-navigation UL {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; DISPLAY: block; BACKGROUND: url(../images/bg_footer-box-tr.gif) no-repeat right top; PADDING-TOP: 20px
}
.secondary-navigation UL LI {
	DISPLAY: inline
}
.secondary-navigation UL A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 4px; BACKGROUND: url(../images/sep-white.gif) no-repeat left center; COLOR: #fff; PADDING-TOP: 0px
}
.secondary-navigation UL LI:first-child A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.secondary-navigation UL LI.first-child A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.footer .copyright {
	POSITION: absolute; WIDTH: 100%; BOTTOM: 1px; HEIGHT: 50px; LEFT: 0px
}
.footer .copyright P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 13px; LINE-HEIGHT: 40px; MARGIN: 0px auto; PADDING-LEFT: 15px; WIDTH: 600px; PADDING-RIGHT: 15px; BACKGROUND: url(../images/bg_copyright.png) no-repeat left top; PADDING-TOP: 0px
}
* HTML .footer .copyright P {
	BACKGROUND: url(../images/bg_copyright.gif) no-repeat left top
}
.footer .copyright A {
	COLOR: #000
}
.footernote {
	TEXT-ALIGN: center; PADDING-BOTTOM: 18px
}
.footernote P {
	LINE-HEIGHT: 1.5em; COLOR: #46627e
}
.footernote A {
	COLOR: #46627e
}
.footernote A:hover {
	
}
.undoreset .FontSize14pt {
	FONT-SIZE: 14pt
}
.undoreset .FontSize8pt {
	FONT-SIZE: 8pt
}
.undoreset .FontSize10pt {
	FONT-SIZE: 8pt
}
.undoreset .Border1 {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-COLLAPSE: collapse; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.undoreset .valignTop {
	VERTICAL-ALIGN: top
}
.undoreset .valignBottom {
	VERTICAL-ALIGN: bottom
}
.undoreset .alignRight {
	TEXT-ALIGN: right
}
.undoreset .alignLeft {
	TEXT-ALIGN: left
}
.undoreset .alignCenter {
	TEXT-ALIGN: center
}
.undoreset .BgcolorWhite {
	BACKGROUND-COLOR: white
}
.undoreset .BgcolorBlack {
	BACKGROUND-COLOR: black
}
.FontSize1 {
	FONT-FAMILY: verdana; FONT-SIZE: 10px
}
.FontSize1 UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
